<?xml version="1.0" encoding="utf-8"?>
<context>
  <common>
    <input_log type="folder">./log_convert</input_log>
    <output_log type="folder">./log_convert</output_log>
    <function></function>
  </common>

  <map>
    <cell_info>D:/ruby/span_report/template/cell_info.xlsx</cell_info>
  </map>

  <lglconvert>
    <ieconfig>
      <ie name="dbLon" alias="Longitude"></ie>
      <ie name="dbLat" alias="Latitude"></ie>
      <ie name="TDDLTE_Scell_Radio_Parameters_Scell_PCI" alias="i624"></ie>
      <ie name="TDDLTE_Scell_Radio_Parameters_Frequency_DL" alias="i627"></ie>
      <ie name="TDDLTE_L1_measurement_Serving_Cell_Measurement_RSRP" alias="i637"></ie>
      <ie name="TDDLTE_L1_measurement_Serving_Cell_Measurement_SINR" alias="i642"></ie>
      <ie name="TDDLTE_Throughput_APP_Throughput_DL" alias="i945"></ie>
      <ie name="TDDLTE_Throughput_APP_Throughput_UL" alias="i946"></ie>
    </ieconfig>
  </lglconvert>

  <report>
    <counter_def>D:/ruby/span_report/log_report/IE模板.xlsx</counter_def>
    <outer_def>D:/ruby/span_report/log_report/福州片区报表模板.xlsx</outer_def>
    <combine>true</combine>
  </report>

  <nodeb_report>
    <cell_info>D:/span_report/template/cell_info.xlsx</cell_info>
    <counter_def>D:/span_report/template/IE模板.xlsx</counter_def>
    <outer_def>D:/span_report/template/单站报表模板.xlsx</outer_def>
  </nodeb_report>

  <simulate>
    <cell_info>D:/span_report/template/cell_info.xlsx</cell_info>
    <threshold_config>
      <!-- 邻区干扰阈值（dB） -->
      <threshold name="disturb" value="-10"></threshold>
      <!-- 邻区干扰强度阈值 -->
      <threshold name="disturb_strength" value="30"></threshold>
      <!-- TDS模拟TDL补偿值 -->
      <threshold name="tds_tdl_delta" value="18"></threshold>
      <!-- 弱覆盖阈值（dBm） -->
      <threshold name="tds_weak_cover" value="-95"></threshold>
      <threshold name="tdl_weak_cover" value="-100"></threshold>
      <!-- 重叠覆盖小区数阈值 -->
      <threshold name="overlap_cover" value="3"></threshold>
      <!-- 邻区有效性阈值（dBm） -->
      <threshold name="ncell_valid" value="-105"></threshold>
      <!-- 过覆盖阈值（%）,这里采用小数 -->
      <threshold name="over_cover_ratio" value="0.5"></threshold>
      <!-- 高干扰阈值（dB） -->
      <threshold name="high_disturb" value="6"></threshold>
    </threshold_config>
  </simulate>

  <export>
    <combine>true</combine>
    <ieconfig>
      <ie name="dbLon" alias="Longitude"></ie>
      <ie name="dbLat" alias="Latitude"></ie>
      <ie name="TDDLTE_Scell_Radio_Parameters_Scell_PCI" alias="i624"></ie>
      <ie name="TDDLTE_Scell_Radio_Parameters_Frequency_DL" alias="i627"></ie>
      <ie name="TDDLTE_L1_measurement_Serving_Cell_Measurement_RSRP" alias="i637"></ie>
      <ie name="TDDLTE_L1_measurement_Serving_Cell_Measurement_SINR" alias="i642"></ie>
      <ie name="TDDLTE_Throughput_APP_Throughput_DL" alias="i945"></ie>
      <ie name="TDDLTE_Throughput_APP_Throughput_UL" alias="i946"></ie>
      <ie name="TDDLTE_L1_measurement_Neighbour_Cell_Measurement_RSRP_0" alias="Nei_RSRP_0"></ie>
      <ie name="TDDLTE_L1_measurement_Neighbour_Cell_Measurement_RSRP_1" alias="Nei_RSRP_1"></ie>
    </ieconfig>
  </export>

  <nodeb_export>
    <cell_info>D:/span_report/template/cell_info.xlsx</cell_info>
    <ieconfig>
      <ie name="Longitude" alias="dbLon"></ie>
      <ie name="Latitude" alias="dbLat"></ie>
      <ie name="TDDLTE_Scell_Radio_Parameters_Scell_PCI" alias="i624"></ie>
      <ie name="TDDLTE_Scell_Radio_Parameters_Frequency_DL" alias="i627"></ie>
      <ie name="TDDLTE_L1_measurement_Serving_Cell_Measurement_RSRP" alias="i637"></ie>
      <ie name="TDDLTE_L1_measurement_Serving_Cell_Measurement_SINR" alias="i642"></ie>
      <ie name="TDDLTE_Throughput_APP_Throughput_DL" alias="i945"></ie>
      <ie name="TDDLTE_Throughput_APP_Throughput_UL" alias="i946"></ie>
    </ieconfig>
  </nodeb_export>

</context>
