<?xml version="1.0" encoding="utf-8"?>
<context>
  <common>
    <input_log type="folder">D:/ruby/span_report/log</input_log>
    <output_log type="folder">D:/ruby/span_report/log</output_log>
    <function></function>
  </common>

  <report>
    <counter_def>D:/ruby/span_report/config/IE模板.xlsx</counter_def>
    <outer_def>D:/ruby/span_report/config/报表模板.xlsx</outer_def>
    <combine>false</combine>
  </report>

  <nodeb_report>
    <cell_info>D:/ruby/span_report/config/cell_info.xlsx</cell_info>
    <counter_def>D:/ruby/span_report/config/IE模板.xlsx</counter_def>
    <outer_def>D:/ruby/span_report/config/报表模板.xlsx</outer_def>
  </nodeb_report>

  <export>
    <combine>false</combine>
    <ieconfig>
      <ie name="TDDLTE_MCS_DL_Code0_MCS_0" alias="MCS0"></ie>
      <ie name="TDDLTE_MCS_DL_Code0_MCS_1" alias="MCS1"></ie>
      <ie name="TDDLTE_MCS_DL_Code0_MCS_2" alias="MCS2"></ie>
      <ie name="TDDLTE_MCS_DL_Code0_MCS_3" alias="MCS3"></ie>
      <ie name="TDDLTE_MCS_DL_Code0_MCS_4" alias="MCS4"></ie>
      <ie name="TDDLTE_MCS_DL_Code0_MCS_5" alias="MCS5"></ie>
      <ie name="TDDLTE_MCS_DL_Code0_MCS_6" alias="MCS6"></ie>
      <ie name="TDDLTE_MCS_DL_Code0_MCS_7" alias="MCS7"></ie>
      <ie name="TDDLTE_MCS_DL_Code0_MCS_8" alias="MCS8"></ie>
    </ieconfig>
  </export>
</context>
